@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

#home-section {
  height: 100vh;
  width: 100%;
  /* border: 2px solid rgb(0, 0, 0);  */
  background-image: url("../../../assets/HOMEBG2.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5rem auto;
  border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  word-wrap: wrap;
  color: rgba(0, 0, 0, 0.881);
}
/* #home-section::after{
   content: '';
   background: linear-gradient( to top,  rgba(0, 0, 0, 0.509),rgba(255, 255, 255, 0.404));
   height: 100%;
   width: 100%;
position: absolute;
top: 0;
opacity: 1;
left: 0;
   
   
} */
#home-section h1 {
  align-items: center;
  text-align: center;
  font-size: 3rem;
}

span {
  color: darkblue;
}
#home-section p {
  color: #000000;
}

hr {
  color: darkblue;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.search-box {
  border: 1px solid black;
  overflow: hidden;
  margin-top: 10px;

  border-radius: 10px;
}
.search-box input {
  border: none;
  outline: none;
  background-color: white;
  padding: 15px 20px;
  font-size: 1rem;
}
button {
  border: none;
  background-color: aqua;
  font-size: 1rem;
  padding: 15px 10px 15px 10px;
  cursor: pointer;
}
