.Categories{
    /* height: 100vh; */
    width: 90%;
    display: flex;
    justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

}
.Categories h2{

font-weight: 800;
font-size: 2rem;
color: rgb(0, 170, 255);
margin-bottom: 2rem;
}

.schemes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the column width as needed */
  gap: 20px; /* Adjust the gap between items as needed */
  margin: 0 auto;
}


.schemes-card {
  display: grid;
  grid-template-rows: auto auto auto; /* You can adjust the row sizes as needed */
box-shadow:1px 1px 3px rgba(0, 0, 0, 0.758) ,-1px -1px 3px rgba(0, 0, 0, 0.758) ;
  padding: 10px;
  /* margin: 10px; */
  /* margin: 0px auto; */
  border-radius: 10px;
}

.img{
    border: 1px solid black;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;


}
.schemes-card .img img{
    width: 100%;
    height: 100%;
    
}
.schemes{
    color: blue;
    
}